/* CSS - HEADER & BODY*/
.header {
    background-color: #ffffff;
    color: rgba(35, 72, 34, 1);
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-family: "Poppins";
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
    background-color: #fcf8f8;
}

* {
    box-sizing: border-box;
}

/* CSS - LOGO DAN NAVBAR*/
.logo img {
    width: 150px;
    height: auto;
    margin-left: 10px;
    transition: transform 0.3s;
}

.logo img:hover {
    transform: scale(1.05);
}

.menu-toggle {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: rgba(35, 72, 34, 1);
    margin: 4px 0;
    transition: 0.4s;
}

.navbar {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content:first baseline; 
    margin-left: 50px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: rgba(30, 30, 30, 0.5);
    text-align: center;
    padding: 14px 42px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.navbar a:hover {
    color: rgba(35, 72, 34, 1);
    transform: scale(1.1);
}

.login-button button {
    background-color: #9FCC4B ;
    color: rgba(35, 72, 34, 1);
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 85px;
    font-weight: bold;
    transition: transform 0.3s;
}

.login-button button:hover {
    background-color: rgba(35, 72, 34, 1);
    color: #9FCC4B ;
    transform: scale(1.05);
}

/* CSS - CONTENT*/
.content {
    background-color: #9FCC4B ;
    border-radius: 10px;
    margin: 130px 20px 30px;
    padding: 10px;
    text-align: center;
    color: black;
}

/* CSS - FORM */
.required:after {
    content:" *";
    color: red;
}

.row, .item-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
}

.item-row{
    margin-top: 30px;
}

.col-30 {
    -ms-flex: 30%; 
    flex: 30%;
}

.col-50 {
    -ms-flex: 50%; 
    flex: 50%;
}

.col-70 {
    -ms-flex: 70%; 
    flex: 70%;
}

.col-30,
.col-50,
.col-70 {
    padding: 0 16px;
}

.container-biodata{
    background-color: #9FCC4B ;
    padding: 5px 20px 15px 20px;
    border: 2px solid rgba(35, 72, 34, 1);
    border-radius: 3px;
    margin-left: 75px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.container, .container-info{
    background-color: #9FCC4B ;
    padding: 5px 20px 15px 20px;
    border: 2px solid rgba(35, 72, 34, 1);
    border-radius: 3px;
    margin-right: 75px;
    margin-left: 20px;

}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type=email] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}


select, .product-row select {
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #fff; 

}
select option:checked {
    background-color: #007bff; 
    color: #fff; 
}

.btn {
    padding: 12px;
    border: none;
    width: 75%;
    cursor: pointer;
    font-size: 17px;
    background-color: #9FCC4B ;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 10px;    
}

.btn:hover, .btn-add:hover{
    transform: scale(1.03);
    background-color: #45a049;
}

hr {
    border: 1px solid rgba(35, 72, 34, 1);
}

/* CSS - ADD PRODUCT */
.product-row, .first-product {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #9FCC4B;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.product-row hr {
    width: 100%; 
    border: 1px solid rgba(35, 72, 34, 1);
    margin-top: 10px;
    margin-bottom: 10px; 
}

.col-30 .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add some top margin for spacing */
}

.btn-add {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #4CAF50; /* Green color for "Tambah" button */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 10px; /* Add some spacing between buttons */
}

/* Hover effect for "Tambah" button */
.btn-add:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* Style the "Hapus" button */
.btn-remove {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #FF5722; /* Red color for "Hapus" button */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: none;
}

/* Hover effect for "Hapus" button */
.btn-remove:hover {
    background-color: #ff6666;
    transform: scale(1.05);
}  
/* CSS - FOOTER & NEWSLETTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";
    margin-top: auto;
    width: 100%;
}

.footer-atas {
    background-color: #9FCC4B ;
    width: 100%;
    height: auto; 
    padding: 20px 0; 
    text-align: center; 
}

.footer-atas h3 {
    font-size: 20px; 
    color: rgba(35, 72, 34, 1);
}

.footer-atas p {
    font-size: 14px; 
    color: rgba(35, 72, 34, 1);
}

.footer-bawah {
    background-color: rgba(35, 72, 34, 1);
    color: #9FCC4B ;
    font-size: 12px; 
    text-align: center;
    width: 100%;
    height: 30px; 
}

.newsletter-form {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px 0; 
}

.newsletter-input {
    width: 100%; 
    max-width: 400px; 
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.newsletter-button {
    background-color: #ffffff;
    color: rgba(35, 72, 34, 1);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.newsletter-button:hover {
    transform: scale(1.03);
}

@media screen and (max-width: 768px) { /* FOR RESPONSIVE */
    .menu-toggle {
        display: flex; 
    }

    .navbar {
        display: none; 
        flex-direction: column;
        background-color: #ffffff;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px 0;
        box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.5);
        z-index: 1000;
    }

    .navbar a {
        font-size: 16px;
        color: rgba(30, 30, 30, 0.5);
        text-align: center;
        padding: 14px 16px;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3s, transform 0.3s;
    }

    .menu-toggle.active + .navbar {
        display: flex;
    }

    .header {
        padding: 10px 20px; 
    }

    .logo img {
        margin-left: 5px; 
    }

    .login-button button {
        margin-right: 40px; 
    }

    .content {
        margin: 95px 10px 30px;
    }

    .row {
        flex-direction: column;
    }
    
    .item-row {
        flex-direction: column;
        width: 100%;
    }
    
    .container-biodata,
    .container, .container-info {
        width: 100%;
        margin: 10px 0;
    }
    
    .col-30 {
        margin-bottom: 20px;
    }
    .first-product,
    .product-row {
        background-color: #9FCC4B;
        border-radius: 3px;
        padding: 10px;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .first-product label.required,
    .product-row label.required {
        margin-bottom: 10px;
        display: block;
    }

    .first-product input.form-jumlah,
    .product-row input.form-jumlah, 
    .first-product select,
    .product-row select {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        width: 100%;
        margin-bottom: 20px;
    }

    .first-product .col-30,
    .product-row .col-30 {
        -ms-flex: 30%;
        flex: 30%;
        margin-bottom: 20px;
    }

    .first-product select option:checked,
    .product-row select option:checked {
        background-color: #007bff;
        color: #fff;
    }
    
    .footer-content {
        flex-direction: column;
    }

    .footer-atas {
        max-width: 100%; 
    }

    .newsletter-input {
        width: 100%; 
        max-width: 300px; 
        padding: 8px;
        font-size: 14px; 
    }

    .newsletter-button {
        padding: 8px 16px; 
        font-size: 14px; 
    }
}